@use 'sass:color';

// Variables
@import 'variables';

// Base styles
@import 'base/reset';
@import 'base/typography';
@import 'base/utilities';

// Layout
@import 'layout/header';
@import 'layout/footer';


// Components
@import 'components/bare.scss';
@import 'components/navigation';
@import 'components/cards';
@import 'components/buttons';
@import 'components/forms';

// Pages
@import 'pages/home';
@import 'pages/posts';
@import 'pages/contact';
@import 'pages/archive';
@import 'pages/archive';
