* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: $font-size-base;
}

body {
    font-family: $font-family;
    line-height: $line-height-base;
    color: $text-color;
    background-color: $bg-color;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

ul, ol {
    list-style: none;
}
