@use 'sass:color';

// Admin variables
@import 'variables';

// Base
@import 'base/reset';
@import 'base/typography';

// Layout
@import 'layout/sidebar';
@import 'layout/topbar';

// Components
@import 'components/page';
@import 'components/buttons';
@import 'components/forms';
@import 'components/tables';
@import 'components/cards';

// Pages
@import 'pages/dashboard';
@import 'pages/posts';
@import 'pages/menu';
