// Footer styles

.site-footer {
    background: $text-color;
    color: $white;
    padding: $spacing-xl $spacing-lg;
    text-align: center;
    margin-top: $spacing-xl;

    &__text {
        opacity: 0.9;
    }
}
