// Helper classes
.hidden {
    display: none !important;
}

.visible {
    display: block !important;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
